*{margin: 0;
  padding: 0;
  font-family: Arial;
  box-sizing: border-box;}

  body {background-color: grey;}

  /* NAV BAR */

  div{margin-right: 10px;}

  .navbar { height: 60px;
            width: 100%;
          background-color: #0f1111;
         color: white;
         display: flex;
         align-items: center;
        
        display: flex;
        justify-content: space-evenly;}

 .nav-logo {height: 50px;
            width: 100px;}
            
 .logo { height: 50px;
         width: 150px;
         background-image: url("amazon-logo.png");
         background-size:cover;}  

 .border{ border: 1.5px transparent solid;}
 .border:hover {border: 1.5px wheat solid;}  
 
 .nav-address {color: white;}

 p {margin-left: 13px;}
 .bold1 {margin-left: 5px;}
 option{text-align: left;
        color: black;}

 .nav-search { display: flex;
               height:35px;
               width: 650px;
            background-color: orange;
            border-radius: 5px;
             display: flex;
            justify-content: space-evenly;}

 .nav-search:hover {border: 1px solid orange;}       


 .select-search { background-color: #979090;
                  height: 35px;
                  width: 40px;
                  border-top-left-radius: 5px;
                  border-bottom-left-radius: 5px;
                  border: none;
                text-align: center;}



 .searchbar {background-color: white;
             width: 100%;
             font-size: medium;
             border: none;}

#search-icon {background-color: orange;
              width: 45px;
              color: black;
              
              display: flex;
              justify-content: center;
              align-items: center;

             border-top-right-radius: 5px;
             border-bottom-right-radius: 5px;}             

.language {background-color: transparent;
            color: white;
          border: none;}


 .span1 {font-size: medium;}  
 .span2 {font-weight: 700;} 

 .cart i {font-size: 35px;}
 .cart {font-size: 15px;}



 /* PANEL */

 .panel {height: 40px;
         width: 100%;
        background-color: rgb(82, 76, 76);
    
        display: flex;
      justify-content: space-evenly;
       align-items: center;}

.list {color: white;}       

.amazonprime {height: 40px;
              width: 400px;
             background-image: url("amazon.prime.jpg");
               background-size: cover;}


/* HERO TEMPLETE */

.hero {height: 600px;
     width: 100%;
      background-image: url("samsungDesktopHeroTemplate_3000x1200._CB598123269_.jpg");
      background-size: cover;
    
    display: flex;
    justify-content: center;
     align-items: center;}


     /* CONTENT SECTION */

     .content{ display: flex;
               justify-content: space-evenly;
              align-items: center;
              border: none;}

     .box {height:410px;
           width:350px;
           border: 2px black solid;
           border-radius: 8px;
           background-color: white;
        
           padding: 20px 0px 15px;}

     

  .img1 {height: 350px;
         width: 260px;
        background-image: url("iphone.jpg");
        background-size: cover;
        margin-left: 40px;}

  .img2 {height: 350px;
          width: 260px;
         background-image: url("laptop.jpg");
         background-size: cover;
         margin-left: 40px;}
 
  .img3 {height: 350px;
          width: 260px;
         background-image: url("mouse.jpg");
         background-size: cover;
         margin-left: 40px;}

  .img4 {height: 350px;
          width: 260px;
         background-image: url("gym.jpg");
         background-size: cover;
         margin-left: 40px;}
   
  .img5 {height: 350px;
          width: 260px;
         background-image: url("shoes.jpg");
         background-size: cover;
         margin-left: 40px;}
   
.bold2 {margin-left: 20px;
        font-weight: 700;}
.para {margin-left: 20px;
       font-weight: 500;}    
       
       
       /* CONTENT 2 */
  .content2 {height: 400px;
             width: 100%;
            border: none;
           background-color: gray;}     

  .img6 {height: 300px;
         width: 100%;
        background-image: url("cosmetics.png");
        background-size: cover;}         

   .img7 {height: 300px;
          width: 100%;
         background-image: url("Electronics.png");
         background-size: cover;}
         
   .img8 {height: 300px;
          width: 100%;
         background-image: url("accessories.png");
         background-size: cover;}   

   .img9 {height: 300px;
          width: 100%;
         background-image: url("books.png");
         background-size: cover;} 
         

         /*FOOTER 1  */

    .footer1 {height: 50px;
              width: 100%;
            background-color: grey;
           color: white;
          text-align: center;}

           /*FOOTER 2  */
 .footer2 {height: 350px;
           width: 100%;
          background-color: #333333;
        
        display: flex;
      justify-content: space-evenly;
      align-items: baseline;}

 .list { padding-block: 30px;}     

 .ul:hover {text-decoration: underline;}   
 
 
 /* FOOTER 3 */

 .footer3 {height: 100px;
      width: 100%;
      background-color: #4C4E52;
      display: flex;
      justify-content: center;
     align-items: center;}

.logo2 {height: 50px;
       width: 100px;
      background-image: url("amazon-logo.png");
      background-size: cover;}
  
.language2 {background-color: transparent;
            color: white;
          border: none;} 
          
          /* FOOTER 4 */
   .footer4 {height: 20px;
         width: 100%;
        background-color:#4C4E52;
       text-align: center;} 

  .paracountry {color: white;}            
         